.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1050;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-icon {
    font-size: 20px;
    cursor: pointer;
}
.header-container {
    background-color: #f8f9fa;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  
  .placeholder-icon {
    font-size: 24px;
  }
  